#container-request-modal {
    .col {
        margin-bottom: 25px;
    }

    #request-send-to {
        margin-left: 15px;
    }

    .MuiDialog-paperWidthSm {
        max-width: 600px;
        width: 100%;
    }

    .MuiDialogTitle-root {
        background: #57BF53;
        color: white;
        box-shadow: 0 0 10px #636363;
    }

    .formControl {
        margin: 5px;
        min-width: 120;
    }
    
    .MuiInput-underline:after {
        border-bottom: 2px solid #57BF53;
    }

    .MuiInputLabel-root.Mui-focused {
        color: #57BF53;
    }
    
    .MuiDialogActions-root {
        justify-content: flex-start;
    }
    
}