@import '../../App.scss';

.root {
    flex-grow: 1
}

.menuButton {
    margin-right: 2rem
} 

.title {
    flex-grow: 1
} 

.btn-connect {
    border-radius: 7px !important;
    border: 1px solid aliceblue !important;
}